$highlightColor: #0000FE;
html {
    font-family: sans-serif;
}

a {
    color: $highlightColor;
}

img {
  max-width: 100%;
}

h1,
h2,
h3 {
    color: $highlightColor;
    font-weight: 400;
}

p {
    font-size: 1.3rem;
    padding-left: 4em;
}

h2 {
    margin-top: 100px;
    font-size: 30px;
    letter-spacing: -0.03em;
    // font-weight: 100;
}

.sm-image {
    width: 600px;
    max-width: 100%;
}

