$highlightColor: rgb(0, 0, 255);
body {
    padding-top: 30px;
    font-family: sans-serif;
    font-size: 14px;
}

a {
    color: $highlightColor;
    &:hover {
        color: rgb(255, 0, 0);
    }
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    color: $highlightColor;
}

hr {
    border: none;
    color: $highlightColor;
    &::after {
        content: "<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<"
    }
}



.content {
    border-top: 7px solid $highlightColor;
    @media (max-width: 767.9999999px) {
        margin-top: 100px;
    }
}

.slick-arrow {
    background: $highlightColor;
    box-shadow: none;
    border: none;
    color: #fff;
}

.slick-dots {
    padding-left: 0;
    li {
        display: inline-block;
        button {
            color: $highlightColor;
            background-color: transparent;
            padding-right: 1em;
            box-shadow: none;
            border: none;
            margin: 3px;
        }
    }
    // background-color: black;
}
