.titleblock {
    // background-image: url("/dist/images/workshop/giphy.gif");
    background-image: url("/images/sfpcgenerative.gif");
    background-size: cover;
    height: 500px;
    position: relative;
    background-position: center center;
    .content {
        color: white;
        left: 50px;
        bottom: 50px;
        z-index: 10;
        position: absolute;
        background-color: $highlightColor;
        padding: 1em;
        @media (max-width: 771.99px) {
            text-align: center;
            left: auto;
            right: auto;
            top: 33%;
            bottom: auto;
        }
        .title {
            font-size: 1.6em
        }
        .caption {
            font-size: 1.2em;
        }
    }
}
