.home {
    img {
        width: 100%;
    }
    // @media (max-width: 767.99999px) {
    //     text-align: center;
    //     left: auto;
    //     right: auto;
    //     top: 33%;
    //     bottom: auto;
    // }
    .textblock {
        padding: 1em;
        color: $highlightColor;
        // color: #fff;

        .title {
            font-size: 2rem;
        }
        .caotion {
            font-size: 8.0rem;
        }
    }
  
}
