.workshop-page {

    p {
        font-size: 1.3rem;
        padding-left: 4em;
    }

    h2 {
        font-size: 30px;
        letter-spacing: -0.03em;
        font-weight: 100;
    }

    .sm-image {
        width: 600px;
        max-width: 100%;
    }
    .titleblock {
        background-image: url("/dist/images/workshop/giphy.gif");
        background-size: cover;
        height: 400px;
        position: relative;
        background-position: center center;

        

        .content {
            color: white;
            left: 70px;
            // font-size: 3em;
            bottom: 30px;
            z-index: 10;
            position: absolute;
            background-color: black;
            padding: 1em;
        }

        h1,
        h2 {
            // font-size: 17px;
            line-height: 1em;
            font-weight: normal;
        }

        h1 {
            font-size: 18px;
        }

        h2 {
            font-size: 12px;
        }
    }
}
